.container{
width: 300px;
margin-top: -0%;

}
.two img{
    width: 300px;
    margin-left: 320%;
    margin-top: -130%;
}
.three img{
   width: 300px;
   margin-left: 110%;
   margin-top: -160%;
}
.four img{
   width: 300px;
   margin-left: 217%;
   margin-top: -120%;
}
.one img{
    width: 300px;
margin-top: 20px;

}
.new{
    margin-left:30%;
}
.jean img{
height: 100vh;
margin-top: 0%;
width: 550px;
}
.phil img{
    width: 400px;
    margin-left: 200%;
    margin-top: -220%;

}
.dis{
   padding: 30px;
   text-align: center;
}
.black{
    background-color: black;
    color: white;
    padding-left: 30%,30%,30%,30%;
    width: 1200px;
}
.pic1{
    height: 90vh;
    width: 400px;
}
.pic2{
    margin-left: 51%;
    margin-top: -43%;
    width: 200px;
}
.pic3{
    margin-left: 51%;
    width: 29px;
    height: 80%;
    scale: 60%;
    margin-top: -5%;

}
.end{
    margin-left: 51%;
    margin-top: -5%;
    margin-left: 25%;
}
.table{
    color: white;
    background-color: black;
    width: 90px;
    width: 1200px;
}
.buton{
    padding: 10px;
    margin: 10px;
}
.na{
    padding: 10px;
    margin: 10px;
    color: white;
}
.em{
    padding: 10px;
    margin: 10px;
    color: white;
}
.navigation{
    text-align: center;
    text-decoration: none;
}
